.closereg {
    height: calc(100vh - 6rem);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    &__text {
        width: 30%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }

    &__title {
        color: $mahogany;
        text-align: center;
    }

    &__desc {
        color: $rich-black-40;
        text-align: center;

        a {
            color: $mahogany;
        }
    }

    @media screen and (max-width: 992px) {
        &__text {
            width: 50%;
        }

        &__title {
            width: 80%;
            font-size: 24px;
            line-height: 29px;
        }

        &__desc,
        &__desc a {
            font-size: 18px;
            line-height: 22px;
        }
    }

    @media screen and (max-width: 576px) {
        &__text {
            width: 90%;
        }

        &__title {
            width: 60%;
        }
    }
}
