.dashboard {
    min-height: calc(100vh - 7rem);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        'list-peserta list-peserta'
        'souvenir absensi';
    gap: .5rem;

    &__menu {
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 16px;
        background-repeat: no-repeat;
        background-size: cover;

        h1 {
            width: 100%;
            height: -webkit-fill-available;
            display: flex;
            align-items: center;
            justify-content: center;
            color: $white;
            border-radius: 16px;
            background-color: rgba($rich-black, 32%);
            @include blur;
        }
    }

    &__menu--list-peserta {
        grid-area: list-peserta;
        background-image: url('./../img/dashboard/list-peserta.jpg');
        background-position-y: 100%;
    }

    &__menu--souvenir {
        grid-area: souvenir;
        background-image: url('./../img/dashboard/souvenir.jpg');
    }

    &__menu--absensi {
        grid-area: absensi;
        background-image: url('./../img/dashboard/absensi.jpg');
        background-position-y: 100%;
    }
}

@media screen and (max-width: 991.9px) {
    .dashboard {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            'list-peserta'
            'souvenir'
            'absensi';
        gap: 1.5rem;

        &__menu {
            h1 {
                padding: 2rem;
                position: relative;
                align-items: flex-end;
                justify-content: flex-start;
                font-size: 36px;
                backdrop-filter: blur(8px);

                span {
                    width: 20px;
                    height: 20px;
                    position: absolute;
                    bottom: 2rem;
                    right: 2rem;
                    background-image: url('./../img/arrow-next.svg');
                    background-size: contain;
                    background-repeat: no-repeat;
                }
            }
        }
    }
}
