.detail-keranjang {
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;

    &__title {
        margin-bottom: 4rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__card {
        align-items: stretch;
        cursor: default;

        &--left {
            width: 40%;
        }

        &--right {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            gap: 1.5rem;

            >.top {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: flex-start;
                gap: .5rem;

                h4 {
                    text-align: end;
                }
            }
        }
    }

    &__action,
    &__item-action {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: .5rem;
    }

    &__dialog-btn {
        padding: 0.25rem 1rem;
        border-radius: .5rem;
        color: $white;
        background-color: #2B4BF2;
        cursor: pointer;

        &:disabled {
            opacity: .7;
        }
    }

    &__items {
        box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.1);
        border-radius: 16px;
        background-color: $white;
    }

    &__item {
        width: 100%;
        padding: 0 2rem;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        gap: 2rem;

        &:not(:last-child) {
            border-bottom: 1px solid $rich-black-10;
        }

        hr {
            align-self: stretch;
            opacity: 1;
            border: .5px solid $rich-black-10;
            border-radius: 1px;
        }

        &--left {
            width: 100%;
            padding: 2rem 0;
        }

        &--line {
            width: 100%;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            gap: 3rem;
        }

        &--title,
        &--label {
            text-align: start;
            white-space: nowrap;
        }

        &--label {
            color: $rich-black-60;
        }

        &--harga,
        &--jumlah,
        &--keterangan {
            text-align: end;
        }

        &--keterangan {
            white-space: pre-line;
            max-width: 50%;
        }

        &--harga {
            color: $gamboge;
        }

        &--harga-sm {
            display: none;
            color: $gamboge;
        }

        &--right {
            padding: 2rem 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 1rem;
        }
    }

    &-card {
        margin-top: 0;
        padding: 4rem;
        border-radius: 2rem;
        position: fixed;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: none;
        align-items: stretch;
        justify-content: space-between;
        gap: 2rem;
        background-color: $white;
        z-index: 9;

        &.active {
            display: flex;
            animation: fadein .2s ease-in-out;

            +.detail-keranjang-card__bg {
                position: fixed;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                display: unset;
                z-index: 8;
                background-color: rgba($rich-black, 24%);
                animation: fadein .2s ease-in-out;

            }
        }

        &__left {
            width: 45%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: space-between;
            gap: 2rem;
        }

        &__left-top {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
            gap: 1rem;
        }

        &__total-pembayaran {
            color: $rich-black-40;

            span {
                color: $gamboge;
            }
        }

        &__rekening {
            color: $rich-black-40;

            span {
                color: #2B4BF2;
            }
        }

        &__left-bottom {
            display: flex;
            flex-direction: column;
            align-items: stretch;
            justify-content: flex-start;
            gap: 1.5rem;
        }

        &__peringatan {
            color: $rich-black-60;

            span {
                color: $mahogany;
            }
        }

        &__btns {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            gap: 2rem;
        }

        &__right {
            max-width: 40%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;
        }

        &__img {
            width: 100%;
            border-radius: 16px;
            box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        }

        &__img-caption {
            color: $rich-black-60;
        }

        &__close {
            position: absolute;
            right: 4rem;
            top: 4rem;
            cursor: pointer;
            font-weight: 700;
            color: $rich-black;
            text-decoration: none;

            &:hover {
                color: $mahogany;
            }
        }

        &__open-img,
        &__close {
            display: none;
        }

        .form-group {
            margin-top: 1.5rem;
        }

        &__bg,
        &__bg--invoice {
            display: none;
        }

        &__invoice {
            width: 600px;
            max-width: calc(100% - 2.5rem);
            position: fixed;
            left: 50%;
            top: 50%;
            display: none;
            transform: translate(-50%, -50%);
            border-radius: 2rem;
            z-index: 9;

            &.active {
                display: flex;
                animation: fadein .2s ease-in-out;

                +.detail-keranjang-card__bg--invoice {
                    position: fixed;
                    left: 0;
                    right: 0;
                    top: 0;
                    bottom: 0;
                    display: unset;
                    z-index: 8;
                    background-color: rgba($rich-black, 24%);
                    animation: fadein .2s ease-in-out;

                }
            }
        }
    }
}

@media screen and (max-width: 1199.9px) {
    .detail-keranjang {
        &__card {
            flex-direction: column;
            gap: 16px;

            &--left {
                width: 100%;
            }

            &--right {
                align-items: flex-start;

                >.top {
                    align-items: flex-start;

                    >h4 {
                        text-align: start;
                    }
                }
            }
        }

        &__action {
            width: 100%;
            display: grid;
            grid-template-columns: calc(100% - 2rem) 1.5rem;
            align-items: center;
            grid-template-areas:
                'submit-ongkir edit'
                'bukti-bayar delete'
            ;
            gap: 8px;
        }

        &__dialog-btn {
            &--submit-ongkir {
                grid-area: submit-ongkir;
            }

            &--bukti-bayar {
                grid-area: bukti-bayar;
            }

        }


        &__edit {
            grid-area: edit;
        }

        &__delete {
            grid-area: delete;
        }

        &__item {
            flex-direction: column;
            gap: 0;

            hr {
                display: none;
            }

            &--harga {
                display: none;
            }

            &--harga-sm {
                display: block;
            }

            &--left,
            &--right {
                padding: 1.7rem 0;
            }
        }
    }
}

@media screen and (max-width: 991.9px) {
    .detail-keranjang-card {
        min-height: 80%;

        &__left {
            width: 100%;
        }

        &__right {
            display: none;
        }

        &__open-img,
        &__close {
            display: unset;
        }

        &__submit {
            width: 100%;
        }

        &__cancel {
            display: none;
        }
    }
}

@media screen and (max-width: 767.9px) {
    .detail-keranjang {
        &__title {
            margin-bottom: 10px;
            flex-direction: column;
            align-items: stretch;
            justify-content: center;

            >h1 {
                display: none;
            }

            >a>img {
                display: none;
            }
        }

        &__card {
            padding: 1.5rem;

            &--left {
                padding: 0;
            }
        }
    }
}


@media screen and (max-width: 575.9px) {
    .detail-keranjang-card {
        width: calc(100% - 3.5rem);
    }
}
