.floating-ads {
    width: calc(100% - 4rem);
    max-width: 500px;
    position: fixed;
    left: 4rem;
    bottom: 3rem;
    z-index: 9;

    &__img {
        width: inherit;
    }

    &__close {
        color: $white;
        cursor: pointer;
        position: absolute;
        left: .5rem;
        top: .5rem;
    }
}
