.list-peserta {
    height: calc(100vh - 5rem);
    margin-top: 5rem;
    padding-top: 1rem;

    &__body {
        overflow: hidden;
    }

    &__lg {
        width: 100%;
    }

    &__top {
        width: 100%;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__table-container {
        width: 100%;
        height: calc(100vh - 13rem);
        overflow-y: auto;
        padding-right: 0.5rem;
    }

    &__table {
        width: 100%;
        border-collapse: collapse;

        th {
            background-color: $rich-black;

            &:first-child {
                border-top-left-radius: 1rem;
            }

            &:last-child {
                border-top-right-radius: 1rem;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                color: $white;
            }
        }

        th,
        td {
            padding: 1.5rem 1rem;
        }

    }

    &__aksi {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: .5rem;
    }

    &__btn {
        width: 1.5rem;
        height: 1.5rem;
        padding: .25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: .25rem;
        cursor: pointer;

        &--view {
            background-color: $blue-sapphire;
        }

        &--delete {
            background-color: $mahogany;
        }

        &--edit {
            background-color: $gamboge;
        }

        &:hover {
            background-color: $rich-black;
        }
    }

    &__sm {
        display: none;
    }

    &__sort-add {
        width: calc(100% - 3.5rem);
        position: fixed;
        bottom: 1.75rem;
        left: 1.75rem;

        >* {
            border-radius: 1rem;
        }
    }

    &__add {
        width: fit-content;
    }
}

@media screen and (max-width: 767.9px) {
    .list-peserta {
        &__body {
            overflow-y: auto;
        }

        &__lg {
            display: none;
        }

        &__sm {
            display: unset;
        }

        h4 {
            z-index: 2;
            height: 5rem;
            position: fixed;
            top: 0;
            left: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            transform: translateX(-50%);
        }

        &__cards {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: .5rem;
        }

        &__card {
            width: 100%;
            padding: 2rem;
            display: flex;
            flex-direction: column;
            gap: 1.75rem;
            border-radius: 1rem;
            background-color: $white;
            @include box-shadow;
        }

        .card {
            &__value-label {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    'label-1 value-1'
                    'label-2 value-2'
                    'label-3 value-3'
                    'label-4 value-4'
                    'label-5 value-5';
                gap: .5rem;
            }

            &__label {
                font-weight: 500;
                color: $rich-black-40;
            }

            &__value {
                font-weight: 500;
                text-align: end;
                color: $rich-black;
            }

            &__label--notelp {
                grid-area: label-1;
            }

            &__value--notelp {
                grid-area: value-1;
            }

            &__label--email {
                grid-area: label-2;
            }

            &__value--email {
                grid-area: value-2;
            }

            &__label--jabatan {
                grid-area: label-3;
            }

            &__value--jabatan {
                grid-area: value-3;
            }

            &__label--alergi {
                grid-area: label-4;
            }

            &__value--alergi {
                grid-area: value-4;
            }

            &__label--vegan {
                grid-area: label-5;
            }

            &__value--vegan {
                grid-area: value-5;
            }

            &__buttons {
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-areas:
                    'delete edit'
                    'view view';
                gap: 8px;
            }

            &__btn {
                width: 100%;
                height: 32px;
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 4px;
                border-radius: 8px;
                text-decoration: none;
                color: $white;

                &--delete {
                    grid-area: delete;
                    background-color: $mahogany;
                }

                &--edit {
                    grid-area: edit;
                    background-color: $gamboge;
                }

                &--view {
                    grid-area: view;
                    background-color: $blue-sapphire;
                }

                &:hover {
                    background-color: $rich-black;
                }
            }
        }
    }
}
