.color-champagne {
    color: $medium-champagne !important;
}

.adm-dashboard {

    &__title {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }

    &__filter-div {
        margin-bottom: 1rem;
        display: flex;
        gap: .7rem;
        justify-content: flex-end;

        input {
            border-radius: 100rem;
            padding: .5rem 1rem;
            outline: none;
            border: 1px solid black;
        }
    }
}

.adm-table {
    &__table-container {
        width: 100%;
        height: calc(100vh - 21rem);
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 0 0 16px 16px;
        border: 1px solid $rich-black-10;
    }

    &__table-head {
        width: 100%;
        border-collapse: collapse;

        th {
            padding: 1.5rem 1rem;
            background-color: $rich-black;
            position: sticky;
            top: 0;

            &:first-child {
                border-top-left-radius: 1rem;
            }

            &:last-child {
                border-top-right-radius: 1rem;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;
                color: $white;
                white-space: nowrap;
            }
        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;

        td {
            padding: 1.5rem 1rem;
        }

        tr {
            border-bottom: .7px solid $rich-black-10;
        }
    }

    &__btn {
        padding: .25rem .5rem;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.5rem;
        text-decoration: none;
        cursor: pointer;
        border-radius: .5rem;
        color: $white;
        background-color: $blue-sapphire;

        &:hover {
            color: $white;
            background-color: $rich-black;
        }
    }

    &--sm {
        display: none;
    }
}

@media screen and (max-width: 992px) {
    .adm-table {

        &__table-head,
        &__table-container {
            display: none;
        }

        &--sm {
            display: unset;
        }
    }
}
