.color-champagne {
    color: $medium-champagne !important;
}

.adm-dashboard {

    &__header {
        margin-top: 4rem;
        margin-bottom: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1rem;
    }

    &__title {
        >span {
            font-size: 1.7rem;
            opacity: .7;
            font-weight: 400;
        }
    }

    &__filter-div {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: .7rem;
    }

    &__input-search {
        width: 24vw;
        border-radius: 100rem;
        padding: .5rem 1rem;
        outline: none;
        border: 2px solid $rich-black-40;
    }

    &__btn-filter {
        cursor: pointer;
    }

    &__excel {
        cursor: pointer;
        background-color: transparent;
        border: 2px solid #1D6F42;
        color: #1D6F42;
    }

}

.adm-table {
    &__table-container {
        width: 100%;
        height: calc(100vh - 22rem);
        overflow-y: auto;
        overflow-x: hidden;
        border-radius: 0 0 16px 16px;
        border: 1px solid $rich-black-10;
    }

    &__table-head {
        width: 100%;
        border-collapse: collapse;

        th {
            padding: 1.5rem 1rem;
            background-color: $rich-black;
            position: sticky;
            top: 0;

            &:first-child {
                border-top-left-radius: 1rem;
            }

            &:last-child {
                border-top-right-radius: 1rem;
            }

            span {
                display: flex;
                align-items: center;
                justify-content: space-between;
                gap: 8px;
                color: $white;
                white-space: nowrap;
            }
        }
    }

    &__table {
        width: 100%;
        border-collapse: collapse;

        td {
            padding: 1.5rem 1rem;
        }

        tr {
            border-bottom: .7px solid $rich-black-10;
        }
    }

    &__btn {
        padding: .25rem .5rem;
        font-weight: 500;
        font-size: 1.125rem;
        line-height: 1.5rem;
        text-decoration: none;
        cursor: pointer;
        border-radius: .5rem;
        color: $white;
        background-color: $blue-sapphire;
        white-space: nowrap;

        &:hover {
            color: $white;
            background-color: $rich-black;
        }
    }

    &--sm {
        display: none;
    }
}

.adm-footer {
    margin-top: 8px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(0, 18, 25, 0.15);
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.08);
    border-radius: 16px;

    &__totals {
        display: flex;
        align-items: center;
        gap: 1rem;

        hr {
            height: 32px;
            width: 2px;
            border-radius: 50rem;
            border: 1px solid rgba($rich-black, 0);
            background-color: $rich-black-10;
            opacity: 1;
        }
    }

    &__total {
        font-weight: 700;
    }
}

@media screen and (max-width: 992px) {
    .adm-dashboard {
        &__btn-filter {
            display: none;
        }
    }

    .adm-table {

        &__table-head,
        &__table-container {
            display: none;
        }

        &--sm {
            display: unset;
        }
    }

    .adm-footer {
        display: none;
    }
}
